@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');


*{
    font-family:  'STIX Two Math', serif;
    box-sizing: border-box;
}


/* body{
    background: linear-gradient(rgba(62, 108, 165, 0.9), rgba(243, 242, 245, 0.7)), url("{{url_for('static',filename='images/Online-Education-in-india.jpg')}}");
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
} */
/* .navbar{
    margin:12px 60px;
    display: inline-block;
    width: 80%;
    }

ul{
    list-style: none;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
        }

a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    margin:12px 14px;
}
a:hover{
    text-decoration:underline;
    color:rgb(246, 225, 101);
    font-size: 28px;
    cursor: pointer;
    transition-duration: 0.5s;
   
} */

/* header{
   background:url("Online-Education-in-india.jpg ");
   background-repeat: no-repeat;
   content: ""; 
   position:absolute;
   background-position: fixed;
   background-size: cover;
   width: 100%;
   height: 150%;
   z-index:-1;
   opacity:0.4;
   
   top: 0;
   left: 0;
} */
section{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:rgb(249, 249, 250);
  font-size: 30px;
  padding-top: 30px;
}

.mastery{
    font-weight: bolder;
}

#searchbar{
    margin-left: 35%;
    margin-top: 5%;
    padding:15px;
    border-radius: 100px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  /* input[type=text]:focus {
    width: 70%;
  } */

  ::-webkit-input-placeholder {
    text-align: center;
    font-size: 16px;
    line-height: 3;
    color: black;
 }

 
